.App {
    text-align: center;
    min-height: 100vh;
}

h1 {
    color: chartreuse;
}

.footer {
    color: rgb(0, 245, 245);
    border: dashed 2px greenyellow;
    letter-spacing: 5px;
    background-color: rgb(192, 72, 3);
}